/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

* {
    margin: 0;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 10% 70px 10%;
    gap: 16px;
    color: #0a0908;
    background-image: url('images/ramen.jpeg');
    background-size: 1440px;
}

header h1 {
    color: #5e503f;
    font-family: 'Playfair Display', serif;
    padding: 24px 0px 24px 0px;
    font-size: 48px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header p {
    width: 50%;
}

#search {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px 0px 16px 0px;
    width: 49%;
}
/* end header */

/* input field */
#search-input {
    border-radius: 10px;
    border-width: 2.5px;
    border-color: #a9927d;
    border-style: solid;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    color: #0a0908;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#search-input:focus {
    outline: none;
    border-color: #5e503f;
}
/* end input field */

/* buttons */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    background-color: #a9927d;
    border-style: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}

button p {
    margin: 0;
}

@keyframes shake {
    100% {
        transform: rotate(90deg) scale(1.25,1.25);
    }
}

button:hover {
    cursor: pointer;
    background-color: #5e503f;
}

button:hover > img {
    animation-name: shake;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}
/* end buttons */

/* added ingred section */
#added-ingred {
    background-color: #f2f4f3;
    padding: 32px 10% 32px 10%;
    font-family: 'Open Sans', sans-serif;;
    color: #0a0908;
}

h2 {
    color: #49111c;
    font-family: 'Playfair Display', serif;
    padding-bottom: 16px;
}

.hidden {
    display: none;
}

#ingred-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;
}
/* end added ingred section */

hr {
    background-color: #a9927d;
    height: 0.5px;
    margin-bottom: 32px;
}

/* recipes section */
#recipes {
    background-color: #f2f4f3;
    padding: 0px 10% 32px 10%;
    font-family: 'Open Sans', sans-serif;
    color: #0a0908;
}

#all-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 38px 38px;
    justify-content: center;
}

.one-recipe {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 19%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 24px rgb(209, 205, 201);
}

.one-recipe img {
    width: 100%;
}

h3 {
    color: #0a0908;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}

.one-recipe:hover {
    cursor: pointer;
}

.one-recipe:hover > h3{
    color: #a9927d;
    text-decoration: underline;
    text-underline-offset: 3px;
}
/* end recipes section */

/* Large devices (small screens, laptops, 1024px and down) */
@media screen and (max-width: 1024px) {
    header p {
        width: 100%;
    }

    #search {
        width: 100%;
    }
}