/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 10% 70px 10%;
    gap: 16px;
    color: #0a0908;
    background-image: url('images/ramen.jpeg');
    background-size: 1440px;
}

header h1 {
    color: #5e503f;
    font-family: 'Playfair Display', serif;
    padding: 24px 0px 24px 0px;
    font-size: 48px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header p {
    width: 50%;
}

#search {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px 0px 16px 0px;
    width: 49%;
}
/* end header */

/* input field */
#search-input {
    border-radius: 10px;
    border-width: 2.5px;
    border-color: #a9927d;
    border-style: solid;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    color: #0a0908;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#search-input:focus {
    outline: none;
    border-color: #5e503f;
}
/* end input field */

/* buttons */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    background-color: #a9927d;
    border-style: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
}

button p {
    margin: 0;
}

@keyframes shake {
    100% {
        transform: rotate(90deg) scale(1.25,1.25);
    }
}

button:hover {
    cursor: pointer;
    background-color: #5e503f;
}

button:hover > img {
    animation-name: shake;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}
/* end buttons */

/* added ingred section */
#added-ingred {
    background-color: #f2f4f3;
    padding: 32px 10% 32px 10%;
    font-family: 'Open Sans', sans-serif;;
    color: #0a0908;
}

h2 {
    color: #49111c;
    font-family: 'Playfair Display', serif;
    margin-bottom: 16px;
}

.hidden {
    display: none;
}

#ingred-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;
}

/* search button */
#search-btn {
    margin-top: 16px;
    margin-top: 16px;
    background-color: #8b4754;
}

@keyframes grow {
    100% {
        transform: scale(1.25,1.25);
    }
}

#search-btn:hover {
    cursor: pointer;
    background-color: #49111c;
}

#search-btn:hover > img {
    animation-name: grow;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}
/* end search button */
/* end added ingred section */

hr {
    background-color: #a9927d;
    height: 0.5px;
    margin-bottom: 32px;
}

/* recipes section */
#recipes {
    background-color: #f2f4f3;
    padding: 0px 10% 32px 10%;
    font-family: 'Open Sans', sans-serif;
    color: #0a0908;
}

#all-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px 22px;
    justify-content: center;
    margin: 32px 0px 32px 0px;
}

.one-recipe {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 24px rgb(233, 228, 224);
}

.one-recipe img {
    width: 100%;
}

h3 {
    color: #0a0908;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 15px 0px 15px 0px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cook-time {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    width:75px;
}

.cook-time img{
    width: 16px;
}

.one-recipe p {
    font-size: 14px;
}

.one-recipe:hover {
    cursor: pointer;
}

.one-recipe:hover > h3{
    color: #a9927d;
    text-decoration: underline;
    text-underline-offset: 3px;
}
/* end recipes section */

/* popup modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: #f2f4f3;
    width: 40%;
    height: 90%;
    color: #0a0908;
    padding: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-active {
    transform: translate(-50%, -50%) scale(1);
}

.modal img {
    width: 100%;
}

.modal h2 {
    margin-top: 16px;
}

.modal-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.modal-cook-time {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.modal-cook-time img {
    width: 23px;
}

.cuisine {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.cuisine img {
    width: 23px;
}

.health-score {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.health-score img {
    width: 23px;
}

.modal hr {
    margin: 22px 0px 0px 0px;
}

.modal h3 {
    padding-bottom: 0px;
}

.modal ul, .modal ol {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 25px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(94, 80, 63, 0.5);
    pointer-events: none;
}

.overlay-active {
    opacity: 1;
    pointer-events: all;
}
/* end popup modal */


/* Large devices (small screens, laptops, 1024px and down) */
@media screen and (max-width: 1024px) {
    header p {
        width: 100%;
    }

    #search {
        width: 100%;
    }
}